body {
  line-height: 2;
}

main {
  opacity: 0;
  transition: 1.25s;
  position: relative;
  bottom: -750px;
}

.contact-heading {
  display: block;
  margin: 2.5%;
  text-align: center;
}

.contact-container {
  padding: 0 20%;
}

.profile-pic {
  display: none;
}

.icons-section {
  margin: 0.5% 0;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  display: inline-block;
}

.contact-icons{
display: inline-block;
width: 40px;
}

.linkedIN {
  width: 25px;
}

.contact-info {
  margin-right: 2%;
  display: inline-block;
  color: #3c3c3b;

}

.contact-info-text {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  display: inline-block;
  text-decoration: underline;
}

.phone-number {
position: relative;
right: 3%;
}

.contact-info:hover {
  text-decoration: none;
  color: #737370;
  opacity: 0.7;
}

.contact-info:active {
  position: relative;
  top: 1px;
}

.contact-intro {
  margin-top: 2.5%;
  text-align: justify;
}

#maps {
  margin: 5% 0;
  width: 100%;
  height: 400px;
}

/*---------------------------------FOOTER-----------------------------------*/
footer {
  position: relative;
  background-color: #3c3c3b;
  color: white;
  text-align: center;
  padding: 2.5% 0;
}

.footer-link {
  padding: 10px;
  margin-top: 10px;
}

.footer-icon {
	width: 30px !important;
}

.git {
	width: 24px !important;
}

.footer-icon:hover {
  opacity: 0.5 !important;
}

.copyright {
  font-size: 0.75rem;
  padding: 10px;
}

/*--------------------------MEDDIA QUERIES------------------------*/

/*---------- EXTRA LARGE DEVICES-----*/
@media (min-width: 1500px) {

  .contact-heading {
    font-size: 3.5rem;
  }

  .icons-section {
    font-size: 2rem;
  }

  .contact-intro {
    font-size: 1.5rem;
  }

  #maps {
    height: 500px;
  }

  .footer-link {
    font-size: 40px;
    padding: 20px;
    margin-top: 10px;
  }
  .copyright {
    font-size: 1.25rem;
    padding: 10px;
  }
}


@media (max-width: 925px) {
  .contact-container {
    padding: 0 12.5%;
  }

  /*--------------------------MEDIUM DEVICES------------------------*/

  @media (max-width: 767px) {
    .linkedin-section {
      display: none !important;
    }
}

  /*--------------------------SMALL DEVICES------------------------*/
  @media (max-width: 600px) {

    .contact-heading {
      margin-top: 5%;
      }

    .icons-section {
      margin: 5% auto 0;
      display: block;
      width: 80%;
    }

    .contact-container {
      padding: 0 10%;
    }

    #maps {
      height: 300px;
    }

    .footer-icon {
      width: 25px !important;
    }

    .git {
      width: 19px !important;
    }

}


  @media (max-width: 536px) {
    .contact-heading {
      font-size: 2rem;
    }
  }
