html {
	height: 100%; /* important for vertical alignment to work*/
	width: 100%;
}

body {
	margin: 0;
	background-color: white;
  color: #3c3c3b;
	max-width:100%;
	height: 100%;
  line-height: 2;
	font-family: 'Archivo Black', sans-serif;
}

main {
  opacity: 0;
  position: relative;
  bottom: -750px;
  transition: 1.25s;
}

.gif {
  width: 50%;
}

.loader {
  position: fixed;
  background-color: #fbfbfb;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden
  }
}

@keyframes bounce {
0% {
	transform: rotate(0);
}

100% {
	transform: rotate(360);
}

}

/*---------------------------------LANDING------------------------------------*/

.container {
	position: relative;
	height: 75%;
	width: 80%;
	margin: 0 auto;
}

.backg-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.landing-content {
	position: absolute;
	width: 100%;
	margin: 0;
	top: 50%;
	left: 50%;
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
	text-align: center; /*HORIZONTAL CENTERING*/
	line-height: 1.5;
	letter-spacing: 2px;
}

.logo {
width: 100px;
height: 100px;
margin: 0.5% auto;
}

.intro-heading {
	margin: 0 auto;
	font-size: 4rem;
}

.intro-description {
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
}

.down-arrow {
	width: 35px;
	height: 22.5px;
	margin: 1% auto;
  cursor: pointer;
}

.down-arrow:hover {
  opacity: 0.8;
}

/*---------------------------------ABOUT PAGE------------------------------------*/
.about {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profilepic {
  width: 300px
}

.about-heading {
  margin: 2.5%;
}

.about-description {
  width: 65%;
  margin: 0 auto;
  text-align: justify;
  color: #737370;
}

.cv-button {
  margin-top: 3.5%;
  background-color: #3c3c3b;
  color: white;
}

.cv-button:hover {
  background-color: #737370;
}

.cv-button:active {
  position: relative;
  top: 1px;
  border: none !important;
  box-shadow: none !important;
}

.cv-button:focus {
  border: none !important;
  box-shadow: none !important;
}

/*---------------------------------SKILLS PAGE------------------------------------*/
#skills {
  position: relative;
  padding: 0% 12.55%;
  text-align: center;
}

.skills-heading {
  margin: 0;
}

.row-skills {}

.skills-box {
  padding: 5% 5%;
}

.skill-type {
  margin: 5% 0;
}

.skills-description {
  color: #737370;
  text-align: justify;
  margin: 0 auto;
}

.coding_img {
  width: 125px;
  height: 150px;
}

.design_img {
  width: 150px;
  height: 150px;
}

.marketing_img {
  width: 100px;
  height: 150px;
}

/*---------------------------------UP BUTTON------------------------------------*/
.up-arrow {
  display: block !important;
  margin: 1% auto 5% !important;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
}

.up-arrow:hover {
opacity: 0.8;
}

/*---------------------------------FOOTER-----------------------------------*/
footer {
  position: relative;
  background-color: #3c3c3b;
  color: white;
  text-align: center;
  padding: 2.5% 0;
}

.footer-link {
  padding: 10px;
  margin-top: 10px;
}

.footer-icon {
	width: 30px !important;
}

.git {
	width: 24px !important;
}

.footer-icon:hover {
  opacity: 0.5 !important;
}

.copyright {
  font-size: 0.75rem;
  padding: 10px;
}

/*---------------------------------MEDIA QUERIES------------------------------------*/

/* EXTRA LARGE DEVICES */
@media (min-width: 1500px) {

/* LANDING */

.logo {
	width: 125px;
	height: 125px;
}

.intro-heading {
  font-size: 5rem;
}

.intro-description {
  font-size: 2rem;
}




  /* ABOUT */
  .profilepic {
    width: 350px
  }

  .about-heading {
    font-size: 3.5rem;
    margin: 2.5%;
  }

  .about-description {
    width: 55%;
		font-size: 1.5rem;
  }

	.cv-button {
		font-size: 1.5rem;
	}

  /* SKILLS */
  #skills {
    padding: 0 15%;
  }

	.skills-heading {
		font-size: 3.5rem;
		margin: 2.5%;
	}

	.coding_img {
		width: 150px;
		height: 175px;
	}

	.design_img {
		width: 175px;
		height: 175px;
	}

	.marketing_img {
		width: 125px;
		height: 175px;
	}

	.skill-type {
		font-size: 2rem;
	}

  .skills-description {
		font-size: 1.5rem;
    width: 100%;
    text-align: justify;
  }

  .up-arrow {
    margin-top: 5%
  }

	.up-arrow {
		width: 60px;
		height: 60px;
	}


	/*---------------------------------FOOTER-----------------------------------*/

	.footer-link {
	  padding: 10px;
	  margin-top: 10px;
	}

	.footer-icon {
		width: 40px !important;
	}

	.git {
		width: 32px !important;
	}

	.footer-icon:hover {
	  opacity: 0.5 !important;
	}

		.copyright {
		  font-size: 1.25rem;
		  padding: 10px;
		}
}

@media (max-width: 999px) {
	.backg-img {
		display: none;
	}
}

/*--------------------------MEDIUM DEVICES------------------------*/
@media (max-width: 768px) {

  .gif {
    width: 100%;
  }

  /*LANDING*/

	.logo {
	width: 85px;
	height: 85px;
	}

	.intro-heading {
		font-size: 3.5rem;
	}

	.intro-description {
		font-size: 1.5rem;
	}


  .about {
    width: 80%;
  }

  .profilepic {
    width: 300px
  }

  .about-description {
    text-align: justify !important;
  }

  .about-heading {
    margin: 10%;
    font-size: 2.5rem;
  }

  /*SKILLS*/

  .skills-heading {
    font-size: 2.5rem;
    padding: 10%;
  }

  .skills-box {
    padding: 1% 5%;
  }

  .skills-description {
    width: 70%;
  }

  .up-arrow {
    margin: 10% auto 15% !important;
  }

  /*--------------------------SMALL DEVICES------------------------*/

  @media (max-width: 600px) {
    .gif {
      width: 125%;
    }

		.down-arrow {
			margin-top: 2.5% !important;
			width: 30px !important;
			height: 17.5px !important;
		}

    /*ABOUT*/

    .about {
      margin: 0 auto;
    }

    .profilepic {
      margin-top: 15%;
      width: 225px;
    }

    .about-description {
      width: 80%;
    }

    .cv-button {
      margin-top: 10%;
    }

    /*SKILLS*/

		.coding_img {
		  width: 100px;
		  height: 125px;
		}

		.design_img {
		  width: 125px;
		  height: 125px;
		}

		.marketing_img {
		  width: 75px;
		  height: 125px;
		}


    .skills-description {
      width: 95%;
    }

    /*UP-ARROW*/
    .up-arrow {
      margin: 10% auto !important;
			width: 35px !important;;
		  height: 35px !important;;
    }

		.footer-icon {
			width: 25px !important;
		}

		.git {
			width: 19px !important;
		}

  }


	@media (max-width: 536px) {

		/* LANDING */

		.logo {
		width: 70px;
		height: 70px;
		}

		.intro-heading {
			font-size: 3rem;
		}

		.intro-description {
			font-size: 1.25rem;
		}

		.about-heading {
		font-size: 2rem;
		}

		.skills-heading {
		font-size: 2rem;
		}

		.skill-type {
			font-size: 1.5rem;
		}
	}

	@media (max-width: 465px) {

	/* LANDING */

		.logo {
		width: 65px;
		height: 65px;
		}

		.intro-heading {
			font-size: 2.5rem;
		}

		.intro-description {
			font-size: 1.25rem;
		}

	/*--------------------------IPHONE DEVICES------------------------*/

	@media (max-width: 394px) {

	/* LANDING */

		.logo {
		width: 60px;
		height: 60px;
		}

		.intro-heading {
			font-size: 2.25rem;
		}

		.intro-description {
			font-size: 1rem;
		}

	}

	/*--------------------------IPHONE 5------------------------*/

	@media (max-width: 365px) {
	/* LANDING */
		.logo {
		width: 45px;
		height: 45px;
		}

		.intro-heading {
			font-size: 2rem;
		}

		.intro-description {
			font-size: 0.8rem;
		}

	}
