.portfolio-heading {
  display: block;
  margin: 0;
  margin-top: 1%;
  text-align: center;
}

  /*---------------------------------BUTTONS------------------------------------*/


.buttons-div {
  margin: 2.5% auto;
  text-align: center;
}

.btn {
margin: 0 1%;
}

#buttons-section2 {
  display: none;
}


.btn:hover {
  background-color: #3c3c3b;
  transition: 0.5s;
}

.btn:active{
  position: relative;
  top: 1px;
  box-shadow: none !important;
}

.btn:focus{
  box-shadow: none;
}

.default-switch {
  background-color: #3c3c3b !important;
}

.selected {
  background-color: #3c3c3b;
}

/*---------------------------------SWITCHES------------------------------------*/
.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
  z-index: -1;
}

  /*---------------------------------DEVELOPMENT PAGE------------------------------------*/

    #development {
      z-index: -1;
      position: relative;
    }

    .development-container {
    margin: 5% 0;
    padding: 0 22.5%;
    }

    .development-box{
      text-align: left;
      margin: 1% auto;
      padding: 0 2.5%;
    }


    .development_img {
      width: 100%;
      margin-bottom: 2%;
    }


      /*---------------------------------DESIGN PAGE------------------------------------*/


      #design {
        display: none;
      }

      /*---------------------------------EDITING PAGE------------------------------------*/


      #editing {
        display: none;
      }

      /*---------------------------------ANIMATION PAGE------------------------------------*/


      #animation {
        display: none;
      }

      /*---------------------------------FOOTER-----------------------------------*/

      footer {
        position: relative;
        background-color: #3c3c3b;
        color: white;
        text-align: center;
        padding: 2.5% 0;
      }

      .footer-link {
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-size: x-large;
      }

      .footer-link:hover {
        color: grey;
      }

      .copyright {
      font-size: 0.75rem;
      padding: 10px;
      }



  /*--------------------------MEDIUM DEVICES------------------------*/
    @media (max-width: 766px)  {

    }



    /*--------------------------SMALL DEVICES------------------------*/

    @media (max-width: 600px)  {

      #buttons-section {
        display: none;
      }

      #buttons-section2 {
        display: block;
        position: relative;
      }

      .buttons-div2 {
        margin: 7.5% auto;
        text-align: center;
      }

      .buttons-left {
        display: block;
        padding-bottom: 2.5%;
      }

      .buttons-right {
       display: block;
      }

      .btn {
        margin: 0 1% !important;
        width: 35%;
        font-size: 0.9rem;
      }

    }
