.portfolio-heading {
  display: block;
  margin: 0;
  margin-top: 1%;
  text-align: center;
}

  /*---------------------------------BUTTONS------------------------------------*/

  #buttons-section {
    position: relative;
    padding: 2.5% 10% 0;
  }

.buttons-div {
  text-align: center;
}

.btn {
  margin: 0 1%;
}

.btn:hover {
  background-color: #3c3c3b;
  transition: 0.5s;
}

.btn:active{
  position: relative;
  top: 1px;
  box-shadow: none !important;
}

.btn:focus{
  box-shadow: none;
}

.default-switch {
  background-color: #3c3c3b !important;
}

.selected {
  background-color: #3c3c3b;
}

/*---------------------------------SWITCHES------------------------------------*/
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
  z-index: -1;
  position: relative;
  padding: 0 10%;
  text-align: left
}

  /*---------------------------------DEVELOPMENT PAGE------------------------------------*/

    #development {
      z-index: -1;
      position: relative;
      padding: 0 17.5%;
      text-align: center;
    }

    .development-container {
    margin: 5% 0;
    padding: 0;
    }

    .row-development {
    margin: 0;
    padding: 0;
    }

    .development-box{
    margin: 0;
    padding: 0;
    }

    .development-type {
      font-size: 1.4rem;
      text-align: left;
      margin: 2% 12%;
    }

    .development-description {
      font-size: 0.95rem;
      color: #737370;
      text-align: left;
      margin: 0 12%;
      margin-bottom: 7.5%;
    }

    .development_img {
    width: 220px;
    height: 200px;
    }


      /*---------------------------------DESIGN PAGE------------------------------------*/


      #design {
        display: none;
        z-index: -1;
        position: relative;
        padding: 0 17.5%;
        text-align: center;
      }
      /*---------------------------------EDITING PAGE------------------------------------*/


      #editing {
        display: none;
        z-index: -1;
        position: relative;
        padding: 0 17.5%;
        text-align: center;
      }
      /*---------------------------------ANIMATION PAGE------------------------------------*/


      #animation {
        display: none;
        z-index: -1;
        position: relative;
        padding: 0 17.5%;
        text-align: center;
      }

      /*---------------------------------FOOTER-----------------------------------*/

      footer {
        position: relative;
        background-color: #3c3c3b;
        color: white;
        text-align: center;
        padding: 2.5% 0;
      }

      .footer-link {
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-size: x-large;
      }

      .footer-link:hover {
        color: grey;
      }

      .copyright {
      font-size: 0.75rem;
      padding: 10px;
      }
